<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Brand -->
        <img src="@@webRoot/assets/img/white_logo.svg" alt="Entasis-Amazon-Web-Services-Consulting-Dallas" class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Advanced AWS Partner
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.linkedin.com/company/entasis-technology-consulting/" class="text-decoration-none" target="_blank" rel=”noopener”>
              <img src="@@webRoot/assets/img/icons/social/linkedin-sign.svg" class="list-social-icon" alt="...">
            </a> 
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.meetup.com/AWS-Users/" class="text-decoration-none" target="_blank" rel=”noopener”>
              <img src="@@webRoot/assets/img/icons/social/meetup.svg" class="list-social-icon" alt="Meetup: Entasis Technology AWS Consulting Dallas: North Texas AWS User Group">
            </a>
          </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Company
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/company.html" class="text-reset">
              About
            </a>
          </li>
          <li class="mb-3">
            <!-- <a href="#!" class="text-reset">
              Leadership
            </a> -->
          </li>
          <li class="mb-3">
            <a href="https://aws.amazon.com/partners/find/partnerdetails/?n=Entasis%20Technology%20Consulting&id=0010L00001jSnriQAC" target="_blank" class="text-reset">
              Certifications
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/about.html" class="text-reset">
              Careers
            </a>
          </li>
          <li>
            <a href="https://www.meetup.com/AWS-Users/" target="_blank" rel=”noopener” class="text-reset">
              Meetup
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Insights
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/case_study.html" class="text-reset">
              Case Studies
            </a>
          </li>
          <li class="mb-3">
            <a href="https://www.entasistech.com/blog/" class="text-reset" target="_blank" rel=”noopener”>
              Blog
            </a>
          </li>
          <li class="mb-3">
            <a href="https://aws.amazon.com/new/?whats-new-content-all.sort-by=item.additionalFields.postDateTime&whats-new-content-all.sort-order=desc&wn-featured-announcements.sort-by=item.additionalFields.numericSort&wn-featured-announcements.sort-order=asc" target="_blank" rel=”noopener” class="text-reset">
              AWS Updates
            </a>
          </li>
          <li>
            <!-- <a href="#!" class="text-reset">
              AWS Training
            </a> -->
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Services
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/Architecture_Workshop.html" class="text-reset">
              Arch Worskhop
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/Well_Architected_Framework.html" class="text-reset">
              AWS WAF
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/Cloud_Migration.html" class="text-reset">
              Cloud Migration
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/DevOps.html" class="text-reset">
              DevOps Delivery
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/Serverless.html" class="text-reset">
              Serverless
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/Containers.html" class="text-reset">
              Containerization
            </a>
          </li>
          <li>
            <!-- <a href="@@webRoot/Managed_Services.html" class="text-reset">
              Managed Services
            </a> -->
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/terms-of-service.html" class="text-reset">
              Privacy
            </a>
          </li>
          <li class="mb-3">
            <a href="https://aws.amazon.com/partners/find/partnerdetails/?n=Entasis%20Technology%20Consulting&id=0010L00001jSnriQAC" class="text-reset" target="_blank" rel=”noopener”>
              AWS Partner
            </a>
          </li>
          <li>
            <!-- <a href="#!" class="text-reset">
              Pagebuilder
            </a> -->
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>