<nav class="navbar navbar-expand-lg @@classList">
  @@if(type=="boxed"){<div class="container">}

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/Asset.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></spanj>
    </button>
    
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left" style="background-image: url(@@webRoot/assets/img/images/Dallas.jpg);">

                  <!-- Heading -->
                  <h4 class="font-weight-bold text-white mb-0">
                    Where do I start?
                  </h4>

                  <!-- Text -->
                  <p class="font-size-sm text-white">
                    Read our quick guide
                  </p>

                  <!-- Button -->
                  <a href="@@webRoot/blog-post.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                    Read Now
                  </a>
                  
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Company
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/company.html">
                        Leadership
                      </a>
                      <a class="dropdown-item" href="https://aws.amazon.com/partners/find/partnerdetails/?n=Entasis%20Technology%20Consulting&id=0010L00001jSnriQAC" target="_blank" rel=”noopener”>
                        Certifications
                      </a>
                      <a class="dropdown-item mb-5" href="@@webRoot/about.html">
                        Careers
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Connect
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="https://www.linkedin.com/company/entasis-technology-consulting/" target="_blank" rel=”noopener”>
                        Linkedin
                      </a>
                      <a class="dropdown-item" href="https://www.meetup.com/AWS-Users/" target="_blank" rel=”noopener”>
                        Meetup
                      </a>

                    </div>
                    <div class="col-6">
                      
                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Customers 
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="https://www.entasistech.com/cloud-dashboard/" target="_blank" rel=”noopener”>
                        Cloud Dashboard
                      </a>
                      <a class="dropdown-item" href="https://partnercentral.awspartner.com/CreateReview?pid=0010L00001jSnriQAC&language=en" target="_blank" rel=”noopener”>
                        Leave a Review
                      </a>
                      <!-- <a class="dropdown-item" href="@@webRoot/service.html">
                        Service
                      </a>
                      <a class="dropdown-item" href="@@webRoot/cloud.html">
                        Cloud Hosting
                      </a> -->
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Insights
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/case_study.html">
                
                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Shopping/Chart-line#1.svg")
                </div>
                
                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Case Studies
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Customer Success Stories
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="https://www.entasistech.com/blog/" target="_blank" rel=”noopener”>
                
                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/Design/Pen-tool-vector.svg")
                </div>
                
                <!-- Content -->
                <div class="ml-4">
                  
                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    Blog
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    What we're thinking about. 
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="https://aws.amazon.com/new/?whats-new-content-all.sort-by=item.additionalFields.postDateTime&whats-new-content-all.sort-order=desc&wn-featured-announcements.sort-by=item.additionalFields.numericSort&wn-featured-announcements.sort-order=asc" target="_blank" rel=”noopener” >
                
                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  @@include("../assets/img/icons/duotone-icons/General/Clipboard.svg")
                </div>
                
                <!-- Content -->
                <div class="ml-4">
                  
                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                    AWS Updates
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    What's new?
                  </p>

                </div>
                  
                <!-- Badge -->
                <span id="spanDate" class="badge badge-pill badge-primary-soft ml-auto"></span>
              </a>
            </div>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Cababilities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Architecture
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/template_capability.html">
                  AWS Well-Architected-Framework
                </a>
                <a class="dropdown-item" href="@@webRoot/template_capability.html">
                  Security Audit
                </a>
                <a class="dropdown-item" href="@@webRoot/signin-illustration.html">
                  Future Planning
                </a>
                <a class="dropdown-item" href="@@webRoot/signin.html">
                  Cost Optimization 
                </a>
                <!-- <a class="dropdown-item" data-toggle="modal" href="#modalSigninHorizontal">
                  
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalSigninVertical">
                  
                </a> -->
              </div>
            </li>
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Implementation
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/Cloud_Migration.html">
                  Cloud Migration
                </a>
                <a class="dropdown-item" href="@@webRoot/DevOps.html">
                  DevOps Delivery
                </a>
                <a class="dropdown-item"  href="@@webRoot/Serverless.html">
                  Serverless Architecture
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalSignupVertical">
                  Containerization
                </a>
                <!-- <a class="dropdown-item" data-toggle="modal" href="#modalSignupVertical">
                  Containerization
                </a> -->
              </div>
            </li>
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Operations
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/password-reset-illustration.html">
                  Managed Services
                </a>
                <a class="dropdown-item" href="@@webRoot/password-reset.html">
                  Reseller 
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="@@webRoot/about.html">
            Careers
          </a>
        </li>
      </ul>

    

    </div>
  
  @@if(type=="boxed"){</div>}
</nav>